
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <form>
            <div id= "informacion_viaje">
                <label for="n_viaje">Nombre del viaje</label>
                <input type="text" id="n_viaje">

                <label>Destino-Estado de la Republica</label>
                <select id="destino">
                    <option value="0" selected>Eliga una opcion</option>
                    <option value="1">Chihuahua</option>
                    <option value="2">Queretaro</option>
                </select>

                <label>Descripcion</label>
                <input type="text" id="desc">
            </div>

            <div id= "fechas_capacidad"> 
                <label >Fecha de inicio</label>
                <input type="date" id="f_inicio">

                <label >Fecha de fin</label>
                <input type="date" id="f_fin">

                <label >Max. Integrantes</label>
                <input type="number" id="m_integrantes">

                <label >Presupuesto estimado </label>
                <input type="number" id="p_estimado"> 

            </div>

            <div id= "participantes">

            </div>
            <button>Cancelar</button>
            <button>Guardar viaje</button>
        </form>

    </body>
</html>